{% extends 'admin.html.twig' %}
{% block body %}
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    <h1>Mentor creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create"  class="btn btn-success"/>
    {{ form_end(form) }}

    <hr/>
    <a href="{{ path('admin_mentor_index') }}" class="btn btn-info">Back to the list</a>

{% endblock %}
