body {
    margin-top: 0px;
}

.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url('/images/bg.png') no-repeat right center scroll;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
}

@media (min-width: 1600px) {
    .header-image {
        background-position-x: 80%;
    }
}

.headline {
    padding: 60px 0;
}

.headline h1,
.headline h2,
.headline p,
.headline .register {
    width: 50%;
}

.headline h1 {
    font-size: 35px;
}

.headline h2,
.headline p {
    font-size: 20px;
    text-align: center;
}

.headline p {
    margin-top: 30px;
}

.headline .register {
    width: 40%;
    margin: 5%;
}

.headline .register .col-sm-10 {
    width: 100%;
}

.headline .register label {
    display: none;
}

.headline .register input {
    width: 100%;
    height: 44px;
}

.headline .register input[type=text],
.headline .register input[type=email],
.headline .register textarea {
    background: #ECECEC;
}

.headline .register .flash-notice {
    width: 100%;
    margin: 0px 0px 20px 0;
}

.mentor .skills {
    margin: 30px 0px;
    line-height: 46px;
}

.mentor .skills span {
    padding: 10px;
}

h1.title-mentors {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    margin-bottom: -80px;
}

.container-become-mentor {
    width: 100%;
    height: 50px;
    margin: 80px 0 40px;
    font-size: 40px;
    text-align: center;
    display: block;
}

.mentor-image-profile {
    width: 300px;
    max-height: 300px;
}

@media (max-width: 768px) {
    .headline h1, .headline h2, .headline p, .headline .register {
        width: 90%;
    }

    h1.title-mentors {
        margin-bottom: 20px;
    }

    .mentor .skills {
        margin: 30px 0px;
        line-height: 46px;
        display: block;
        clear: both;
    }

    .container-become-mentor {
        font-size: 20px;
    }
}
